PORT=3007
SUPABASE_URL=https://azllprfyyzqqbhqpbtsc.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF6bGxwcmZ5eXpxcWJocXBidHNjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDAzNzkxMSwiZXhwIjoyMDg5NjEzOTExfQ.s_ThQYTRgfNLRmRSt3d-wga_je3uWBvzxnimr7wA49I
